<div class="marquee-banner">
  <div class="marquee-banner__track">
    <span>Nuit De Lune</span>
    <span class="marquee-banner__dot">✦</span>
    <span>Venatici Parfums</span>
    <span class="marquee-banner__dot">✦</span>
    <span>40% Parfumöl</span>
    <span class="marquee-banner__dot">✦</span>
    <span>Handgefertigt</span>
    <span class="marquee-banner__dot">✦</span>
    <span>75ml Flakon</span>
    <span class="marquee-banner__dot">✦</span>
    <span>8–12 Stunden Haltbarkeit</span>
    <span class="marquee-banner__dot">✦</span>
    <span>Nuit De Lune</span>
    <span class="marquee-banner__dot">✦</span>
    <span>Venatici Parfums</span>
    <span class="marquee-banner__dot">✦</span>
    <span>40% Parfumöl</span>
    <span class="marquee-banner__dot">✦</span>
    <span>Handgefertigt</span>
    <span class="marquee-banner__dot">✦</span>
    <span>75ml Flakon</span>
    <span class="marquee-banner__dot">✦</span>
    <span>8–12 Stunden Haltbarkeit</span>
    <span class="marquee-banner__dot">✦</span>
  </div>
</div>

{% schema %}
{
  "name": "Marquee Banner",
  "settings": [],
  "presets": [{ "name": "Marquee Banner" }]
}
{% endschema %}
